@import url(https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300&family=Oswald:wght@300&display=swap);

* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Lato, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-style: bold;
    text-transform: uppercase;
    font-family: Anton, Oswald;
    letter-spacing: 3px;
    color: #252525;
    font-size: 300%;
    font-weight: 100;
  }

  h2 {
    text-align: center;
    font-style: bold;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: Anton;
    letter-spacing: 3px;
    color: #252525;
    margin: 0;
    padding: 0;
    font-size: 200%;
    font-weight: 100;
  }

  h4 {
      text-align: center;
      color: grey;
      margin: 0;
      padding: 0;
      font-size: 100%;
      text-transform: uppercase;
  }
  
  form {
    text-align: center;
  }
  
#menu li {
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    float: right;
}

#menu a {
  text-decoration: none;
  color: inherit;
  margin: 8px;
}

#menu a:hover {
  border-bottom: 1px solid #252525;
}

#category li {
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding: 30px;
    text-align: center;
    float: left;
    
}

#category a {
  text-decoration: none;
  color: inherit;
  margin: 8px;
}

#category a:hover {
  border-bottom: 1px solid #252525;
}

  img {
      text-align: center;
      width: 100%;
  }
  
  #hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
  }