@import url(https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300&family=Oswald:wght@300&display=swap);

* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Lato, sans-serif;
    background-color: #252525;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    font-style: bold;
    text-transform: uppercase;
    font-family: Oswald, Anton;
    letter-spacing: 3px;
    color: #fff;
    font-size: 300%;
    font-weight: 100;
  }

  h2 {
    text-align: center;
    font-style: bold;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: Oswald ,Anton;
    letter-spacing: 3px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 200%;
    font-weight: 100;
  }

  h4 {
      text-align: center;
      color: grey;
      margin: 0;
      padding: 0;
      font-size: 100%;
      text-transform: uppercase;
  }
  
  form {
    text-align: center;
  }
  
#menu li {
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    float: right;
}

#menu a {
  text-decoration: none;
  color: inherit;
  margin: 8px;
}

#menu a:hover {
  border-bottom: 1px solid #fff;
}

#category li {
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding: 30px;
    text-align: center;
    float: left;
    
}

#category a {
  text-decoration: none;
  color: inherit;
  margin: 8px;
}

#category a:hover {
  border-bottom: 1px solid #fff;
}

  img {
      text-align: center;
      width: 100%;
  }
  
  #hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
  }

  #zcs-cover-text {
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 150px;
    height: 75px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(243, 210, 80, .7);
    position: absolute;
    bottom: 475px;
    right: 1220px;
  }

  #wgr-cover-text {
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 150px;
    height: 75px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(66, 133, 244, .7);
    position: absolute;
    bottom: 475px;
    right: 990px;
  }

  #fa-cover-text {
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 150px;
    height: 75px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(188, 70, 57, .7);
    position: absolute;
    bottom: 475px;
    right: 760px;
  }

  #mc-cover-text {
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 150px;
    height: 75px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(255, 209, 220, .7);
    position: absolute;
    bottom: 475px;
    right: 530px;
  }

  #v-cover-text {
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 150px;
    height: 75px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(87, 186, 152, .7);
    position: absolute;
    bottom: 475px;
    right: 300px;
  }

footer {
  text-align: center;
  background-color: #fff;
  color: #252525;
  height: 75px;
  padding-top: 20px;
  letter-spacing: 3px;
}