@import url(https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300&family=Oswald:wght@300&display=swap);

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
  background-color: #252525;
  color: #fff;
}

h1 {
  text-align: center;
  font-style: bold;
  text-transform: uppercase;
  font-family: Oswald, Anton;
  letter-spacing: 3px;
  color: #83b8b5;
  font-size: 300%;
  font-weight: 100;
}

h2 {
  text-align: center;
  font-style: bold;
  text-transform: uppercase;
  font-size: xx-large;
  font-family: Oswald, Anton;
  letter-spacing: 3px;
  color: #fff;
  margin: 0;
  padding-top: 20px;
  font-size: 200%;
  font-weight: 100;
  clear: both;
}

h3 {
  text-align: center;
  font-style: bold;
  text-transform: uppercase;
  font-size: xx-large;
  font-family: Oswald, Anton;
  letter-spacing: 3px;
  color: #fff;
  margin: 0;
  padding-top: 20px;
  font-size: 200%;
  font-weight: 100;
}

h4 {
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h4 i {
  font-size: 20px;
}

#menu li {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  float: right;
}

#menu a {
  text-decoration: none;
  color: inherit;
  margin: 8px;
}

#menu a:hover {
  border-bottom: 1px solid #fff;
}

#category li {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  letter-spacing: 3px;
}

#category a {
  text-decoration: none;
  color: inherit;
  height: 97vh;
  border: 2px solid #fafafa;
  padding-top: 350px;
}

img {
  text-align: center;
  width: 100%;
}

#hero-image {
  background-image: url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hero-image #category a {
  color: #fafafa;
  background-color: rgba(0, 0, 0, .6);
  width: 20%;
  float: left;
  text-align: center;
  box-sizing: border-box;
}

#hero-image #category a:hover {
  background-color: rgba(0, 0, 0, .0);
  font-size: large;
}

form {
  text-align: center;
}

#form-style {
  background-color: black;
  padding: 50px;
  border-radius: 5px;
}

#form-style>h3 {
  color: #83b8b5;
  padding: 0 0 15px 0;
}

.text-input {
  color: #252525;
  width: 100%;
  height: 25px;
  margin: 5px 0 5px 0;
  border: 1px solid #252525;
  display: block;
  padding: 10px;
}

#win-a-kitchen-set {
  padding: 4% 0px;
  margin: auto;
  max-width: 575px;
}

#kitchen-set {
  border-radius: 5px;
  padding-bottom: 30px;
}

.button {
  margin-top: 20px;
  border-radius: 2px;
  padding-bottom: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #83b8b5;
}

.button:hover {
  background-color: #252525;
  color: #83b8b5;
  border: 1px solid #83b8b5;
}


#about-us {
  background: url('../images/cutlery.jpg') no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#about-us-title {
  color: #252525;
  padding-top: 5%;
}

#about-us-info {
  font-size: 18px;
  text-align: center;
  color: #252525;
  padding: 3% 5% 10% 5%;
}

footer {
  background-color: #fff;
  color: #252525;
  height: 100px;
  padding-top: 20px;
  letter-spacing: 3px;
  bottom: 0;
  clear: both;
}

footer i {
  color: #252525;
  font-size: 20px;
  padding-bottom: 10px;
}

.footer-center {
  text-align: center;
}

.footer-center>a {
  text-align: right;
  color: #252525;
  letter-spacing: 3px;
}

.contact-details-right {
  color: #252525;
  text-align: right;
  background-color: #fff;
  padding-right: 10px;
}

.social-icons {
  text-align: center;
  padding-top: 20px;
  letter-spacing: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: 50px;
}

.ingredients {
  color: #fafafa;
  margin: 10px;
  letter-spacing: 3px;
  line-height: 30px;
}

.directions {
  color: #fafafa;
  margin: 10px;
  letter-spacing: 3px;
  line-height: 30px;
}

@media screen and (max-width: 900px) {
  #hero-image {
    background-image: url('../images/hero-image-2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
  }

  #hero-image #category a {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 150px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    clear: both;
    padding-top: 75px;
  }

  #hero-image #category a:hover {
    background-color: rgba(0, 0, 0, .0);
    font-size: large;
  }
  
}

@media screen and (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    padding-bottom: 450px;
  }

  .ingredients {
    color: #fafafa;
    margin: 5px;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
  
  .directions {
    color: #fafafa;
    margin: 5px;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
}